version: "3.9"

services:
  birthday-ics:
    image: ghcr.io/s-martin/birthday-ics:latest
    container_name: birthday-ics
    ports:
      - "8080:8080"
    environment:
      CARDDAV_URL: "https://yourcloud/remote.php/dav/addressbooks/users/<user>/contacts/"
      CARDDAV_USER: "<user>"
      CARDDAV_PASS: "<password>"
      IGNORE_NAMES: "Max Mustermann,Test"
    volumes:
      - ./data:/data
